.copy {
	cursor: pointer;
	fill: var(--secondary-color);
	transition: fill 0.2s;
}

@media (hover: hover) {
	.copy:hover {
		fill: var(--info-color);
	}
}

@media (hover: none) {
	.copy:active {
		fill: var(--info-color);
	}
}
