.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-wrap: wrap;
}

.children_fill > * {
	width: 100%;
}

@media (max-width: 768px) {
	/* Стили для мобильных экранов Medium */
	.column {
		width: calc(100% / 2);
	}
}

@media (max-width: 576px) {
	/* Стили для мобильных экранов Small */
	.column {
		flex: 1 1 100%;
	}
}

@media (min-width: 769px) {
	/* Стили для больших экранов */
	.column_auto {
		flex: 1 1 auto;
	}

	.column_2 {
		width: calc(100% / 2);
	}

	.column_3 {
		width: calc(100% / 3);
	}

	.column_4 {
		width: calc(100% / 4);
	}
}
