.wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 80px;
}

.column {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	margin-top: 10px;
}

.column_margin {
	margin-right: 120px;
}

.children_fill > * {
	width: 100%;
}

@media (max-width: 768px) {
	/* Стили для мобильных экранов Medium */
	.column {
		width: calc(100% / 2);
	}

	.column_margin {
		margin-right: 30px;
	}
}

@media (max-width: 576px) {
	/* Стили для мобильных экранов Small */
	.column {
		flex: 1 1 100%;
	}
}

@media (min-width: 769px) {
	/* Стили для больших экранов */
	.column_auto {
		flex: 1 1 auto;
	}

	.column_2 {
		width: calc(100% / 2 - 120px);
	}

	.column_3 {
		width: calc(100% / 3 - 120px);
	}

	.column_4 {
		width: calc(100% / 4 - 120px);
	}
}
