/* Общий скилет стилей */

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.column {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	z-index: 3;
}

.children_fill > * {
	width: 100%;
}

@media (max-width: 768px) {
	/* Стили для мобильных экранов Medium */

	.wrapper {
		gap: 30px;
	}

	.column {
		width: calc(100% / 1);
	}
}

@media (max-width: 576px) {
	/* Стили для мобильных экранов Small */

	.column {
		flex: 1 1 auto;
	}
}

@media (min-width: 769px) {
	/* Стили для больших экранов */

	.wrapper {
		gap: 160px;
	}

	.column_auto {
		flex: 1 1 auto;
	}

	.column_2 {
		width: calc(100% / 2 - 160px);
	}

	.column_3 {
		width: calc(100% / 3 - 160px);
	}

	.column_4 {
		width: calc(100% / 4 - 160px);
	}
}
