.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #efedf6;
}

.header_logo {
	width: 100px;
}

.tabbed_container {
	max-width: var(--container-small);
	margin: 0 auto;
	padding: 0 10px;
}

.tabbed_menu {
	padding: 0 1rem 5rem;
}

.tabbed_item {
	justify-content: center;
	align-items: center;
}

.tabbed_content {
	margin-top: 3rem;
}

.content_item {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	margin-top: 3rem;
}

.center_item {
	user-select: none;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
}

.item_extra {
	font-size: 44rem;
}
