.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
	border-bottom: 1px solid #efedf6;
}

.header_logo {
	width: 100px;
}

.tabbed_container {
	max-width: var(--container-big);
	margin: 2.5rem auto 0;
	padding: 0 15px;
}

.tabbed_menu {
	padding: 0 1rem 3rem;
}

.tabbed_item {
	justify-content: center;
	align-items: center;
}

.switchboard_item {
	flex-grow: 1;
	align-self: flex-end;
}

.description_block {
	max-width: 437px;
	margin-top: 0.31rem;
	display: inline-block;
}

/* .description_block_middle {
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
} */

.switchboard_text_middle {
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
}

.switchboard_text {
	display: inline;
	margin-right: 5px;
}

.switchboard_countdown {
	margin-top: 1.3rem;
}

.switchboard_rang {
	text-align: center;
}

.switchboard_leader {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-0.75rem / 2) calc(-0.43rem / 2);
}

.switchboard_leader_link {
	flex: 1 1 auto;
	font-weight: 600;
	margin: calc(0.75rem / 2) calc(0.43rem / 2);
}
