.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #efedf6;
}

.header_logo {
	width: 100px;
}

.tabbed_container {
	max-width: var(--container-small);
	margin: 0 auto;
	padding: 0 10px;
}

.tabbed_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--primary-color);
	padding: 0 1rem 5rem;
	border-radius: 15px;
}

.tabbed_content {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}
