.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
	border-bottom: 1px solid #efedf6;
}

.header_logo {
	width: 100px;
}

.tabbed_container {
	max-width: var(--container-small);
	margin: 1rem auto 0;
	padding: 0 15px;
}

.tabbed_menu {
	padding: 0 1rem 3rem;
}

.tabbed_item {
	justify-content: center;
	align-items: center;
}

.content_item {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	margin-top: 3rem;
}

.center_item {
	user-select: none;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
}

.item_extra {
	font-size: 44rem;
}

.victors {
	color: var(--link-color);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.rules {
	margin-top: 4rem;
}

.rules_item {
	margin: 0.5rem 0;
	padding: 1rem;
	min-height: auto;
}

.rules_accent {
	color: var(--primary-color);
	font-weight: 700;
}

.link {
	color: var(--link-color);
	margin-right: 0.5rem;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.info {
	color: var(--info-color);
	margin-right: 0.5rem;
}

.rules_link {
	margin-left: 0.5rem;
}

.rules_info {
	margin-left: 0.5rem;
	font-size: 14px;
}
