.primary {
	color: var(--primary-color);
	line-height: 1.2;
}

.paragraph_secondary {
	color: var(--secondary-color);
	line-height: 1.2;
}

.paragraph_small {
	font-size: 12px;
}

.paragraph_medium {
	font-size: 16px;
}
