.paragraph {
	line-height: 1.2;
}

.paragraph_primary {
	color: var(--primary-color);
}

.paragraph_secondary {
	color: var(--secondary-color);
}

.paragraph_white {
	color: var(--white-color);
}

.paragraph_warning {
	color: var(--info-color);
}

.paragraph_small {
	font-size: 1rem;
}

.paragraph_medium {
	font-size: 0.87rem;
}

.paragraph_large {
	font-size: 1.37rem;
}

.paragraph_extra {
	font-size: 7.5rem;
}

@media (max-width: 768px) {
	/* Стили для мобильных экранов Medium */

	.paragraph_extra {
		font-size: 4rem;
	}
}
