.flex {
	display: flex;
}

.flex > *:last-child {
	margin-bottom: 0;
}

.position_center {
	justify-content: center;
	align-items: center;
}

.orientation_column {
	flex-direction: column;
}

.orientation_row {
	flex-direction: row;
}

.flex_wrap {
	flex-wrap: wrap;
}

.stretch {
	align-self: stretch;
}

.round.round_medium > * {
	border-radius: 15px;
}

.round_medium {
	border-radius: 15px;
}
