* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;

	background: var(--window);

	font-weight: 400;
	font-family: 'Chivo Mono', monospace;
	font-size: 0.869rem;
}

:root {
	--white-color: #fff;
	--dark-color: #000;
	--primary-color: #31235c;
	--secondary-color: #aca7bb;
	--inline-color: #713edd;

	--container-small: 762px;
	--container-big: 999px;
}
