* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;

	background: var(--window);

	font-weight: 400;
	font-family: 'Orbitron', sans-serif;
	font-size: 0.9rem;
}

:root {
	--link-color: #63caf2;
	--white-color: #fff;
	--dark-color: #000;
	--primary-color: #31235c;
	--secondary-color: #aca7bb;
	--inline-color: #713edd;
	--info-color: #f3855e;

	--container-small: 762px;
	--container-big: 999px;
}
