.button {
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	background: none;
	border: none;
	transition: background 0.1s;
}

.primary {
	color: var(--white-color);
	padding: 50px 15px 10px 15px;
	margin-right: 3px;
	border-radius: 0 0 15px 15px;
}

.primary:last-child {
	margin: 0;
}

.primary:hover {
	background: var(--inline-color);
}

.button.active {
	cursor: default;
	background: var(--inline-color);
}
