.button {
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	background: none;
	border: none;
	transition: background 0.1s, box-shadow 0.1s;
}

.button_primary {
	color: var(--white-color);
	padding: 50px 15px 20px 15px;
	margin-right: 3px;
	border-radius: 0 0 15px 15px;
}

.button_primary:last-child {
	margin: 0;
}

.button_primary:hover {
	background: var(--inline-color);
}

.button.button_active {
	cursor: default;
	background: var(--inline-color);
	box-shadow: 0px 10px 50px -13px rgba(110, 63, 255, 1),
		0px -8px 12px -4px rgba(255, 255, 255, 0.54) inset;
}
