.button {
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	background: none;
	border: none;
	transition: background 0.2s;
}

.primary {
	color: var(--white-color);
	padding: 50px 15px 10px 15px;
	border-radius: 10px 100px / 120px;
}

.primary:hover {
	background: var(--inline-color);
	padding: 50px 15px 10px 15px;
}
