.paper {
	border-radius: var(--border-medium);
	min-height: 55px;
	color: var(--white-color);
	padding: 10px 15px;
}

.center_content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.paper_primary {
	background: var(--primary-color);
	box-shadow: 0px 4px 34px 0px rgba(113, 61, 221, 0.5);
}

.paper_secondary {
	background: var(--inline-color);
	box-shadow: 0px 4px 34px rgba(113, 61, 221, 0.5);
}

.paper_blocked {
	background: var(--secondary-color);
	box-shadow: 0px 1.37778px 26.8667px rgba(0, 0, 0, 0.11);
}

.paper_light {
	background: var(--white-color);
	border: solid 1px #efedf6;
	box-shadow: 0px 15px 17px -2px rgba(34, 60, 80, 0.06);
}
