.paper {
	min-height: 75px;
	color: var(--white-color);
}

.center_content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.paper_primary {
	border-radius: 15px;
	background: var(--primary-color);
	box-shadow: 0px 10px 50px -13px rgba(49, 35, 92, 1),
		0px -8px 12px -4px rgba(255, 255, 255, 0.54) inset;
}

.paper_secondary {
	border-radius: 15px;
	background: var(--inline-color);
	box-shadow: 0px 10px 50px -13px rgba(110, 63, 255, 1),
		0px -8px 12px -4px rgba(255, 255, 255, 0.54) inset;
}
